*{
    margin: 0;
    padding: 0;
    
}

main{
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

.card p{
    text-align: center;
    margin-bottom: 20px;
}

.card p span {
    font-weight: 600;
    color: royalblue;
    font-size: 20px;
}

.card{
    width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
}

.outer{
  height: 15px;
  width: 100%;
  background-color: rgb(184,184,184);
  border-radius: 50px;
}

.inner{
    height: 100%;
    width: 0;
    background-color: green;
    border-radius: 50px;
}

.bottom{
    display: flex;
    justify-content: space-between;
    margin : 20px;
}

.bottom h2{
    font-size: 60px;
}

.bottom button{
    padding: 12px 25px;
    background-color: green;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.bottom button:active{
    scale: 0.95;
}




