*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    padding: 30px;
    font-family: monospace;
}

#main{
    max-width: 800px;
    margin: auto;
}

.elem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 20px 30px;
    border-radius: 12px;
    margin-top: 15px;
}

h3{
    color: white;
    font-size: 24px;
}

button{
    background-color: royalblue;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
